* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

.navbar {
    background-color: rgb(27, 25, 22);
    left: 0;
    padding: 0.75rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    
    
  }

  .navbar ul > * + * {
    margin-left: 3rem;
  }

  i {
    color: white;
    padding: 1rem;
  }


  #carouselExampleCaptions {
    padding-bottom: 20px;
    
  }

  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;

    
   
  }

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.footer {
  background-color: rgb(36, 36, 35);
  padding: 0.75rem 1.5rem;
  width: 100%;

}

.card {
  padding: 2rem;
}

.footer li {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 0,5em;
  text-decoration: none;
  padding-right: 2rem;
}